.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-color: transparent;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn.important {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}



html { 
  background: url(../images/bg-subbuteo.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.navbar-default {
  background: rgba(0, 0, 0, 0.5);
  border: 0;
  padding: 1em;
  margin-top: 1.5em;
}
.logotipo {
  float: left !important;
  position: absolute;
  top: -2.5em;
}
.header {
  border:0;
}
h1 {
  color: #fff;
  position: absolute;
  top: 1em;
  left: 140px;
}
.navbar-default .navbar-nav > li > a {
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}
.nav > li {
  padding-left:1em;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  border-bottom: 3px solid #63b008;
  background: transparent;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  border-bottom: 3px solid #63b008;
  background: transparent;
}
.jumbotron {
    background: rgba(0, 0, 0, 0.5);
}
.subbuteo {
  color:#fff; 
}
.color-white {
  color: #e5e5e5;
}
.btn-actions {
  margin-top: 1em;
}
.partidos {
  background: #fff;
  border-radius: 5px;
  margin-bottom: 1em;
}
.partidos > .header {
  background: #333;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  padding:0.5em;
  margin-bottom: 0;
  border-bottom: 1px solid #777;
}
.partidos > .body {
  padding: 0.5em 0;
}
.crearEmparejamientos {
  padding-left:1em !important;
  padding-right:1em !important;
}
.equiposGrupo {
  border-bottom: 1px solid #e0d6d6;
  margin: 0 0.5em;
  padding: 0.5em;
  text-transform: uppercase;
}