<div class="jumbotron">
  <h2 class="subbuteo">Campeonato de Subbuteo</h2>
  <p class="lead">
    <img src="images/balon.png" alt="Nuevo torneo"><br>
  </p>
  <p><a class="btn btn-lg btn-success important" ng-href="#/nuevo-torneo"><img src="images/world-cup.png" />Comenzar Nuevo Torneo</a></p>
</div>
