<div class="jumbotron" ng-show="nuevoCampeonato">
  <h2 class="subbuteo">Comenzar nuevo campeonato</h2>
  <form>
    <p class="lead color-white">
      Para empezar agrega el número de equipos del torneo:
    </p>
    <div class="form-group">
      <input type="number" class="form-control" id="numeroEquipos" ng-model="numeroEquipos" placeholder="Introduce el número de equipos" value="4" min="4" max="16" ng-keyup="controlNumeroEquipos()" ng-click="controlNumeroEquipos()" required>
    </div>
    <div class="clearfix"></div>
    <div class="btn-actions pull-right">
      <p>
        <input type="button" ng-model="btnNumeroEquipos" class="btn btn-info" value="Elegir equipos" ng-click="btnNumeroEquipos()" />
      </p>
    </div>
    <div class="clearfix"></div>
  </form>
</div>

<div class="jumbotron" ng-show="elegirEquipos">
  <h2 class="subbuteo">Elige los equipos que van a jugar</h2>
  <div class="row">
    <div class="col-xs-12 col-md-6" ng-repeat="equipo in equipos">
      <div class="form-group">
        <input type="text" ng-model="equipo.name" class="form-control" placeholder="Introduce el nombre del equipo" required>
      </div>
    </div>
    <div>
      <input type="button" ng-model="btnNumeroEquipos" class="btn btn-info" value="Crear emparejamientos" ng-click="btnCrearEmparejamientos()" />
    </div>
  </div>
</div>

<div class="jumbotron crearEmparejamientos" ng-show="crearEmparejamientos">
  <h2 class="subbuteo">Estos son los emparejamientos</h2>
  <div class="row">
    <div class="col-xs-12 col-md-6" ng-repeat="partido in partidos" >
      <div class="partidos">
        <div class="header">
          {{partido.grupo}}
        </div>
        <div class="body">
          <div class="row">
            <div class="col-xs-12" ng-repeat="enfrentamiento in partido.equipos">
              <div class="equiposGrupo">
                {{enfrentamiento.equipo}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6" ng-repeat="emparejamientos in emparejamientosGrupos" >
      <div class="partidos">
        <div class="header">
          {{emparejamientos.grupo}}
        </div>
        <div class="body">
          <div class="row">
            <div class="col-xs-12" ng-repeat="versus in emparejamientos.enfrentamientos">
              <div class="equiposGrupo">
                <div class="col-xs-6">
                  {{versus.equipo1}} <span class="pull-right">{{versus.resultado1}}</span>
                </div>
                <div class="col-xs-6">
                  <span class="pull-left">{{versus.resultado2}}</span> {{versus.equipo2}}
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>